            <%- include('../includes/head.ejs') %>
        </head>
    
        <body>
            <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (orders.length <=0) { %>
                    <h1>The orders list is empty</h1> 
                    <% } else { %>
                <table class="order-table">
                    <thead>
                        <tr>
                            <th>Order id</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Unit price</th>
                            <th>Price</th>
                            <th>Invoice</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let totalPrice = 0; %>
                        <% orders.forEach(order=> { %>
                        <tr class="<%= order.id % 2 === 0 ? 'row-color' : '' || order.id === 4 ? 'test' : ''  %>">
                        <% order.products.forEach(p => { %>
                        <td><%= order._id %></td>
                        <td><%= p.product.title %></td>
                        <td><%= p.quantity %></td>
                        <td><%= p.product.price%>$</td>
                        <td><%= p.product.price *  p.quantity%>$</td>
                        <% totalPrice = totalPrice + p.product.price *  p.quantity %>
                    </tr>
                </tbody>
                    <%   }); %>
                        <td><a href="/orders/<%= order._id %>">Invoice</a></td>
                 
                    <% }); %>
                    <td class="border-table active-row"> Total</td>
                    <td class="border-table"></td>
                    <td class="border-table"></td>
                    <td class="border-table"></td>
                    <td class="border-table active-row"><%= totalPrice.toFixed(2) %>$</td>
                </table>
             
                <% } %> 

                <div class="centered">
                    <form action="/submit-order" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>